SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/dms_lite
SPRING_DATASOURCE_USERNAME=dms
SPRING_DATASOURCE_PASSWORD=change-me

APP_JWT_SECRET=change-me-minimum-32-characters
APP_JWT_MINUTES=180

SPRING_RABBITMQ_USERNAME=guest
SPRING_RABBITMQ_PASSWORD=change-me
GF_SECURITY_ADMIN_PASSWORD=change-me

VITE_API_BASE_URL=http://localhost:8080/api